:root {
  --primary: #1f2839;
  --secondary: #e89e16;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary_color: rgba(255, 255, 255, 0.87);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

